[submodule "infra"]
	path = infra
	url = https://github.com/Bundinho-Exercises/microservices-blog-infra.git
[submodule "client"]
	path = client
	url = https://github.com/Bundinho-Exercises/microservices-blog-client.git
[submodule "comments"]
	path = comments
	url = https://github.com/Bundinho-Exercises/microservices-blog-comments.git
[submodule "event-bus"]
	path = event-bus
	url = https://github.com/Bundinho-Exercises/microservices-blog-event-bus.git
[submodule "posts"]
	path = posts
	url = https://github.com/Bundinho-Exercises/microservices-blog-post.git
[submodule "moderation"]
	path = moderation
	url = https://github.com/Bundinho-Exercises/microservices-blog-moderation.git
[submodule "query"]
	path = query
	url = https://github.com/Bundinho-Exercises/microservices-blog-query.git
[submodule "post"]
	path = post
	url = https://github.com/Bundinho-Exercises/microservices-blog-posts.git
